<!DOCTYPE html> 
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  >
	<head>
	
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	   <link rel="stylesheet" href="style/style.css"/>
		
		<title>Manager Project</title>
	</head>

	<body>
		<header>
				 <nav>
				    <div class="nav-wrapper">
				      <a href="#" class="brand-logo">Cadastro de Calendario</a>
				      <ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li><a href="/calendarios" class="waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Projetos</a></li>
				      </ul>
				    </div>
				  </nav>
		</header>
		
		
		
		<div class="container formCalendario">
			<h1>Cadastre um calendario</h1>
		<form class="container" method="post">
				Descricao: <input th:value="${calendario.descricao}" type="text" value="" name="descricao" placeholder="" required/>
				<br>
				Feriados ciclicos (todo ano): <input  th:value="${calendario.feriadosCiclicos}" type="text" value="" placeholder="25/12;01/01" name="feriadosCiclicos"/>
				<br>
				Feriados fixos: <input  th:value="${calendario.feriadosFixos}" type="text" value="" placeholder="20/02/2018;22/02/2019" name="feriadosFixos"/>
				<br>
			<button type="submit" class="waves-effect waves-light btn">Salvar</button>	
		
		</form>
		</div>
	  <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	 </body>

</html>