<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
       <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
      <link rel="stylesheet" href="style/style.css"/>
	
		<title>Manager Project</title>
	</head>
	
	<body>
		
		<header>
				 <nav class="menu">
				    <div class="nav-wrapper">
				      <a href="#" class="brand-logo">Gerenciar Projetos</a>
				      <ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li><a href="/cadastrarprojeto" class="waves-effect waves-light btn"><i class="material-icons left">dashboard</i>Cadastro de Projeto</a></li>
				      	 <li><a href="/calendarios" class="waves-effect waves-light btn"><i class="material-icons left">today</i>Calendario</a></li>
				      	 <li><a href="/tarefa" class="waves-effect waves-light btn"><i class="material-icons left">assignment</i>Tarefas</a></li>
				      	 <li><a href="/conta" class="waves-effect waves-light btn"><i class="material-icons left">account_circle</i>Conta</a></li>
				      </ul>
				    </div>
				  </nav>
		</header>
	
			<div class="container">
				<h1>Gerencie Projeto</h1>
			</div>	
			
			<table class="responsive-table container">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Prazo Desejavel</th>
							<th>Data inicio</th>	
							<th>Deletar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="projeto : ${projetos}">
				 		<td><a th:href="${(#mvc.url('PC#detalhesProjeto').arg(0, projeto.codigo)).build()}"><span th:text="${projeto.nome}"></span></a></td>
		 				<td><span th:text="${projeto.prazo}"></span></td>
				 		<td><span th:text="${projeto.dataInicio}"></span></td>
						<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('PC#deletarProjeto').arg(0, projeto.codigo)).build()}"><i class="material-icons left">delete</i></a></td>  
				 		</tr>
		 		</tbody>	
			</table>
	
		<div class="fixed-action-btn">
		  <a th:href="@{/conta/login}" class="btn-floating btn-large red">
		    <i class="large material-icons">exit_to_app</i>
		  </a>
		</div>
	
	 <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	 </body>
	</body>
	
	
</html> 