<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
		<link rel="stylesheet" href="style/style.css"/>
	
		<title>App de Gerenciamento</title>
	</head>

	<body>
			<header>
				 <nav>
				    <div class="nav-wrapper">
				      <a href="#" class="brand-logo">Projetos</a>
				      <ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li><a href="/projetos" class="waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Cadastro de Projetos</a></li>
				      </ul>
				    </div>
				  </nav>
		</header>
		
			<div th:each="projeto : ${projetos}" class="container detalhesProjeto" >
				<h5>Detalhes do Projeto</h5>
 				<div class="row">
 						<p>Nome: <span th:text=" ${projeto.nome}"></span></p>
 						<p>Prazo: <span th:text=" ${projeto.prazo}"></span></p>
 						<p>Data de Inicio: <span th:text=" ${projeto.dataInicio}"></span></p>
 				</div>
 			</div>
 		
    	
 			<div class="container formMembro" >
 				<h1>Adicionar Membro ao Projeto</h1>
 				<form method="post" th:object="${membro}">
 					<div class="row">
 						<div class="input-field col s3"> 
 							CPF: <input type="text" value="" name="cpf" placeholder="999.999.999-95"/>
 						</div>
 					<div class="input-field col s6">  
 						Nome: <input type="text" value="" name="nome" placeholder="Nome completo"/>
 					</div>
 					<div class="input-field col s3">
 						Cargo: <input type="text" value="" name="cargo" placeholder="Cargo"/>
 					</div>
 					<div class="input-field col s6">	
 						Carga Horaria: <input type="text" value="" name="cargaHoraria" placeholder="8hrs"/>
 					</div>
 					<div class="input-field col s6">
 						Dias: <input type="text" value="" name="dias" placeholder="Dias"/>
 					</div>
 					</div>
 					<button onclick="M.toast({html: 'Membro Cadastrado'})" class="waves-effect waves-light btn" type="submit">Adicionar</button>
 				</form>
 				</div>
 				<table class="container tabelaMembro">
 					<div class="row">
 						<thead>
 							<tr> 
 								<th>CPF</th>
 								<th>Nome</th>
 								<th>Cargo</th>
 								<th>Carga Horaria</th>
 								<th>Dias</th>
 								<th>Deletar</th>
 							</tr>
 						</thead>
 							<tbody>
 							<tr th:each="membro : ${membros}">
 								<td><span th:text="${membro.cpf}"></span></td>
 								<td><span th:text="${membro.nome}"></span></td>
 								<td><span th:text="${membro.cargo}"></span></td>
 								<td><span th:text="${membro.cargaHoraria}"></span></td>
 								<td><span th:text="${membro.dias}"></span></td>
 								<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('PC#deletarMembro').arg(0, membro.cpf)).build()}"><i class="material-icons left">delete</i></a></td> 
 							</tr>
 						</tbody>
 						
 						</table>
 		
 						<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>

</html>