<!DOCTYPE html> 
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  >
	<head>
	
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	   <link rel="stylesheet" href="style/style.css"/>
		
		<title>Manager Project</title>
	</head>

	<body>
		<header>
				 <nav>
				    <div class="nav-wrapper">
				      <a href="#" class="brand-logo">Cadastro de Projeto</a>
				      <ul id="nav-mobile" class="right hide-on-med-and-down">

				        <li><a href="/projetos" class="waves-effect waves-light btn"><i class="material-icons left">dashboard</i>Projetos</a></li>
				   
				      </ul>
				    </div>
				  </nav>
		</header>
		
		
		
		<div class="container formProjeto">
			<h1>Cadastre seu Projeto </h1>
		<form class="container" method="post">
				Nome: <input type="text" value="" name="nome" placeholder="Nome do projeto" required/>
			<div class="row">
				<div class="input-field col s6">
					Prazo Dezejavel: <input type="date" value="" name="prazo" required/>
				</div>
				<div class="input-field col s6">
					Data Inicio: <input type="date" value=""  name="dataInicio" required/>
				</div>
			</div>
	
			<button type="submit" onclick="M.toast({html: 'Projeto Cadastrado'})" class="waves-effect waves-light btn">Salvar</button>	
		
		</form>
		<div class="fixed-action-btn">
		  <a th:href="@{/conta/login}" class="btn-floating btn-large red">
		    <i class="large material-icons">exit_to_app</i>
		  </a>
		</div>
		</div>
	  <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	 </body>

</html>