<!DOCTYPE html> 
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  >
	<head>
	
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
       <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	   <link rel="stylesheet" href="style/style.css"/>
		
		<title>Tarefa</title>
	</head>
 	<body>
		<header>
				 <nav>
				    <div class="nav-wrapper">
				      <a href="#" class="brand-logo">Cadastro de Tarefa</a>
				    	<ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li><a href="/projetos" class="waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Cadastro de Projeto</a></li>
				      	 <li><a href="/calendarios" class="waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Calendario</a></li>
				      	 <li><a href="/conta" class="waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Conta</a></li>
				      </ul>
				    </div>
				  </nav>
		</header>
		
		
		
		<div class="container formProjeto">
			<h1>Cadastre uma tarefa para o projeto</h1>
		<form class="container" method="post">
				Projeto: 
				<form:select path="projeto">
					<form:option value="NONE" label="--- Select ---"/>
				   
				</form:select></br></br>
				
				Titulo: <input type="text" value="" name="titulo" placeholder="Titulo da tarefa" required/></br></br>
				
				Descricao:</br>
				<!--<form:textarea path="descricao" rows="5" cols="30" />--></br>
				
				Executor: <!--<form:select path="membro" items="${membros}" />--></br></br>
	
			<button type="submit" class="waves-effect waves-light btn">Salvar</button>	
		
		</form>
		
		<div class="fixed-action-btn">
		  <a th:href="@{/conta/login}" class="btn-floating btn-large red">
		    <i class="large material-icons">exit_to_app</i>
		  </a>
		</div>
		</div>		
	  <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	 </body>
 </html>